.settings-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .current-user-info {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  button {
    margin-top: 20px;
  }
  