<div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Inventory Name</mat-label>
        <input matInput formControlName="name" type="text">
        <p *ngIf="editForm.get('name')?.hasError('required')">Please provide a name</p>
      </mat-form-field> <br>
  
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field> <br>
  
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <textarea matInput formControlName="quantity"></textarea>
      </mat-form-field> <br>
  
      <mat-form-field appearance="fill">
        <mat-label>Product</mat-label>
        <mat-select formControlName="productId">
          <mat-option *ngFor="let type of products" [value]="type.id">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field> <br>
      
      <button mat-raised-button color="primary" type="submit">Update</button>
    </form>
  </div>
