<div class="form-container">
    <form [formGroup]="sizeForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text">
        <p *ngIf="sizeForm.get('name')?.hasError('required')">Please provide a name</p>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <br>
      
      <button mat-raised-button color="primary" type="submit">Create</button>
    </form>
  </div>
  
