<div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="text">
        <p *ngIf="editForm.get('price')?.hasError('required')">Please provide price</p>
      </mat-form-field> <br>
  
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field> <br>
  
      <button mat-raised-button color="primary" type="submit">Update</button>
    </form>
  </div>
