<button mat-raised-button color="primary" routerLink="/create-stock-type">Create New</button>

<div class="search-container">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by name">
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="stock-type-container">
  <mat-card *ngFor="let stockType of dataSource.filteredData" class="stock-type-card">
   
    <mat-card-title>{{ stockType.id}}  -  {{ stockType.name }}</mat-card-title>

    <mat-card-content>
      <p>{{ stockType.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="editStockType(stockType.id)">Edit</button>
      <button mat-button color="warn" (click)="deleteStockType(stockType.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
