<div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text">
        <mat-error *ngIf="editForm.get('name')?.hasError('required')">
          Please provide a name
        </mat-error>
      </mat-form-field> <br>
  
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field> <br>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">
        Update
      </button>
    </form>
  </div>
  
