<h3>Forgot Password</h3>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Email Address</mat-label>
    <input matInput formControlName="email" type="email">
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
      Invalid email address
    </mat-error>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="submit">Send Reset Link</button>
    <button mat-button type="button" (click)="back()">Cancel</button>
  </div>
</form>


