<div class="form-container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="packageTypeName" type="text">
        <p *ngIf="editForm.get('packageTypeName')?.hasError('required')">Please provide a name</p>
      </mat-form-field> <br>
  
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="packageTypeDescription"></textarea>
      </mat-form-field> <br>
  
      <button mat-raised-button color="primary" type="submit">Update</button>
    </form>
  </div>
